.logo {
font-family: 'Raleway', sans-serif;
font-family: 'Kurale', serif;
font-size: 26px;
color:  rgb(230, 224, 240);
 
}
 .emp-profile{
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 15%;
    border-radius: 0.5rem;
    background: #fff;
    height: 70vh;
}
.shrift {
    padding: 5%;
    margin-top: 5%;
    margin-right: 42%;
    margin-left: -10%
} 
html, body{
    background-image: url('https://cdn.enginethemes.com/oneengine/2014/04/slider-4.jpg');
}
