.logo {
font-family: 'Raleway', sans-serif;
font-family: 'Kurale', serif;
font-size: 26px;
color:  rgb(230, 224, 240);
 
}
 .emp-profile{
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 15%;
    border-radius: 0.5rem;
    background: #fff;
    height: 70vh;
}
.shrift {
    padding: 5%;
    margin-top: 5%;
    margin-right: 42%;
    margin-left: -10%
} 
html, body{
    background-image: url('https://cdn.enginethemes.com/oneengine/2014/04/slider-4.jpg');
}
/* 
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

/* @media (min-width: 768px) */

/* .navbar {
    border-radius: 4px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

a { */
    /* color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}

 @media (min-width: 768px) 
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.collapse {
    display: none;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.header-nightsky .navbar-nav>li {
    margin-right: 20px;
}
 @media (min-width: 768px) */
/* .navbar-nav>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}
.dropdown, .dropup {
    position: relative;
} */